{% extends "layout.html" %} {% block title %}Dashboard | WriteWise{% endblock %}
{% block body %}
<h1>Welcome {{ username }}!</h1>

<div class="recent-documents">
  <h2>Your recent documents:</h2>
  {% if recent_documents %}
  <ul>
    {% for doc in recent_documents %}
    <li>
      <a href="{{ url_for('view_document', document_id=doc[0]) }}"
        >{{ doc[1] }}</a
      >
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>You have no documents. Make a new one to get started!</p>
  {% endif %}
</div>

<div class="new-documents">
  <h2>Create a new document:</h2>
  <form action="{{ url_for('create_document') }}" method="POST">
    <p>Document title: <input type="text" name="document_title" required /></p>
    <p>
      Folder:
      <select name="folder_id" id="folderSelect" required autocomplete="off">
        <option value="" disabled selected>Select a folder</option>
        <option value="new">Create a new folder</option>
        {% for folder in user_folders %}
        <option value="{{ folder[0] }}">{{ folder[1] }}</option>
        {% endfor %}
      </select>
    </p>
    <p id="newFolderInput" style="display: none">
      New folder name:
      <input type="text" name="new_folder_name" id="newFolderName" />
    </p>
    <p>
      <button type="submit" value="Create Document">Create Document</button>
    </p>
  </form>
</div>

<div id="browse-folders">
  <h2>Browse folders:</h2>
  {% if user_folders %}
  <ul>
    {% for folder in user_folders %}
    <li class="folder-btn" data-folder-id="{{ folder[0] }}">{{ folder[1] }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No folders found. Create one above!</p>
  {% endif %}
</div>

<div id="folder-contents" style="display: none">
  <h3>Folder Contents</h3>
  <ul id="folder-doc-list"></ul>
</div>

<script>
  const newFolderInput = document.getElementById("newFolderInput"); // the hidden new folder name field
  const folderSelect = document.getElementById("folderSelect"); // selected item in the drop down list
  let folderButtons = document.querySelectorAll(".folder-btn");
  const folderContents = document.getElementById("folder-contents");
  folderContents.style.display = "none"; // hide folder contents
  folderSelect.value = ""; // Reset to default option
  checkFolderSelection(); // Ensure the input field is hidden

  function checkFolderSelection() {
    if (folderSelect.value === "new") {
      newFolderInput.style.display = "block"; // display newFolderInput if the “create new folder” option is selected
    } else {
      newFolderInput.style.display = "none";
    }
  }

  folderSelect.addEventListener("change", function () { // listen for when an input (i.e. the dropdown) is modified
    checkFolderSelection();
  });

  
  folderButtons.forEach(function(btn) { // for btn in folderButtons
    btn.addEventListener("click", function() { // listen for when the button is clicked
      let folderId = btn.getAttribute("data-folder-id");
      const folderDocList = document.getElementById("folder-doc-list");
      const folderContents = document.getElementById("folder-contents");
      folderDocList.innerHTML = "";
      folderContents.style.display = "block";

      fetch(`/get_folder_contents/${folderId}`)
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          console.log(data);
        })
        // .then(function(data) {
        //   data.forEach(function(item) {
        //     let id = item[0];
        //     let title = item[1];
        //     let li = document.createElement("li");
        //     let link = document.createElement("a");
        //     link.href = `/view_document/${id}`;
        //     link.textContent = title;
        //     li.appendChild(link);
        //     folderDocList.appendChild(li);
        //   })
        //})
        .catch(error => console.error(error));
    });
  });
</script>

{% endblock %}
