{% extends "layout.html" %} {% block title %}WriteWise{% endblock %} {% block
body %}
<h2>AI-ENHANCED NOTETAKING</h2>
<h1>MEANS MORE TIME LEARNING.</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper
  sapien eget arcu hendrerit, quis feugiat sapien fringilla. Donec ac aliquam
  metus. Nunc aliquam, nisi non volutpat interdum, arcu odio molestie sem, vel
  aliquet nisi felis et erat. Donec eleifend odio at metus volutpat, et gravida
  nibh tristique.
</p>

{% endblock %}
